#weather-app {
  text-align: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

#weather-app input, #weather-app button {
  padding: 10px;
  margin-top: 20px;
}

#weather-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-top: 20px;
}
